#data-input,
#block-number,
#nonce {
  width: 700px;
  height: 25px;
  padding: 10px 10px 0 10px;
  border-radius: 3px;
  resize: none;
  font-size: 14px;
  color: #333;
}

.div-box {
  background-color: #eee;
  width: 720px;
  height: 50px;
  display: inline-block;
  border-radius: 3px;
}

#hash-container {
  width: 850px;
  height: 225px;
  text-align: center;
  padding: 50px;
  background-color: rgb(196, 196, 196);
  border-radius: 5px;
}

#hash-container-mined {
  width: 850px;
  height: 580px;
  text-align: center;
  padding: 50px;
  background-color: rgb(149, 243, 131);
  border-radius: 5px;
}

#hash-container-not-mined {
  width: 850px;
  height: 580px;
  text-align: center;
  padding: 50px;
  background-color: rgb(255, 165, 161);
  border-radius: 5px;
}

#hash-representation,
#public-key {
  font-family: 'Alata', sans-serif;
  color: #333;
  line-height: 50px;
}

#public-key {
  display: inline;
  width: 590px;
  height: 45px;
  padding: 0 10px;
  border-radius: 7px 0 0 7px;
  font-size: 14px;
  border: 0;
  outline: none;
  font-family: 'Alata', sans-serif;
  color: #333;
  line-height: 50px;
}

#private-key {
  width: 720px;
  height: 25px;
  padding: 10px;
  border-radius: 7px;
  border: 0;
  font-family: 'Alata', sans-serif;
  font-size: 14px;
  color: #333;
  background-color: white;
  outline: none;
}

#public-key:focus,
#private-key:focus {
  outline: auto;
  outline-color: #555;
}

#random-button {
  background-color: #4c6faf;
  font-size: 14px;
  border: none;
  color: white;
  border-radius: 0 10px 10px 0;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  outline: none;
  width: 125px;
  height: 45px;
}

#random-button:hover {
  cursor: pointer;
}

.signature-container-neutral-1,
.signature-container-neutral-2 {
  width: 850px;
  height: 450px;
  text-align: center;
  padding: 50px;
  background-color: #bbb;
  border-radius: 5px;
}

.container-match {
  width: 850px;
  height: 450px;
  text-align: center;
  padding: 50px;
  background-color: rgb(149, 243, 131);
  border-radius: 5px;
}

.container-no-match {
  width: 850px;
  height: 450px;
  text-align: center;
  padding: 50px;
  background-color: rgb(255, 165, 161);
  border-radius: 5px;
}

#private-key-space,
#public-key-space,
#message-signature-original,
#message-signature-copy {
  width: 700px;
  height: 25px;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  font-family: 'Alata', sans-serif;
  font-size: 14px;
  color: #333;
  background-color: white;
  outline: none;
}

.sign-button,
.verify-button {
  background-color: #4c6faf;
  font-size: 14px;
  border: none;
  color: white;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  outline: none;
  width: calc(100% - 125px);
  height: 35px;
}

.sign-button:hover,
.verify-button:hover {
  cursor: pointer;
}

.sign-button-disabled:hover,
.verify-button-disabled:hover {
  cursor: auto;
}

#user-message-1,
#user-message-2 {
  width: 700px;
  height: 125px;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  border: 0;
  resize: none;
  font-family: 'Alata', sans-serif;
  font-size: 14px;
  color: #333;
}

.sign-button-disabled,
.verify-button-disabled {
  background-color: #8f8f8f;
  font-size: 14px;
  border: none;
  color: white;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  outline: none;
  width: calc(100% - 125px);
  height: 35px;
}

#currency,
#sender-div,
#receiver-div {
  width: 70px;
  height: 34px;
  padding-top: 11px;
  background-color: #4c6faf;
  color: white;
  font-family: 'Alata', sans-serif;
  text-align: center;
  float: left;
}

#currency {
  margin-left: 65px;
  border-radius: 7px 0 0 7px;
  width: 40px;
}

#receiver-div {
  padding-top: 7px;
  width: 35px;
  height: 38px;
  font-size: 20px;
}

#amount-1,
#sender-1,
#receiver-1,
#amount-2,
#sender-2,
#receiver-2 {
  width: 195px;
  height: 25px;
  padding: 10px;
  border: 0;
  font-family: 'Alata', sans-serif;
  font-size: 14px;
  color: #333;
  background-color: white;
  outline: none;
  float: left;
}

#amount-1,
#amount-2 {
  width: 125px;
}

#receiver-1,
#receiver-2 {
  border-radius: 0 7px 7px 0;
}

#blockchain-settings {
  height: 225px;
  width: 1000px;
  background-color: #bbb;
  border-radius: 15px;
}

#blockchain {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  height: 600px;
  width: 1000px;
  background-color: #bbb;
  border-radius: 15px;
}

.blockchain-block {
  width: 500px;
  min-width: 500px;
  height: 490px;
  background-color: rgb(255, 165, 161);
  position: relative;
  top: 50px;
  left: 40px;
  border-radius: 15px;
  float: left;
  margin-left: 15px;
}

#block-data {
  padding: 15px 0 0 15px;
}

.block-info {
  background-color: #eee;
  width: 455px;
  height: 35px;
  display: inline-block;
  border-radius: 3px;
  font-family: 'Alata', sans-serif;
  font-size: 14px;
  padding-left: 10px;
}

.block-mined {
  background-color: rgb(149, 243, 131);
}

.mine-single-block {
  background-color: #4c6faf;
  font-size: 14px;
  border: none;
  color: white;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  outline: none;
  width: 125px;
  height: 35px;
  margin-left: 165px;
}

.already-mined {
  background-color: #555;
  font-size: 14px;
  border: none;
  color: white;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  outline: none;
  width: 125px;
  height: 35px;
  margin-left: 165px;
}

.mine-single-block:hover {
  cursor: pointer;
}

#amount,
#sender,
#receiver {
  width: 245px;
  height: 25px;
  padding: 10px;
  border: 0;
  font-family: 'Alata', sans-serif;
  font-size: 14px;
  color: #333;
  background-color: white;
  outline: none;
  float: left;
}

#amount {
  width: 175px;
}

#receiver {
  border-radius: 0 7px 7px 0;
}

#add-trx-button {
  margin-left: 65px;
}

.enabled {
  background-color: #4c6faf;
  font-size: 14px;
  border: none;
  color: white;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  outline: none;
  width: calc(((100% - 125px) / 3.05));
  height: 35px;
}

.enabled:hover {
  cursor: pointer;
}

.disabled {
  background-color: #555;
  font-size: 14px;
  border: none;
  color: white;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  outline: none;
  width: calc(((100% - 125px) / 3.05));
  height: 35px;
}

.loading-button {
  font-size: 0;
  width: 35px;
  height: 35px;
  outline: none;
  border-radius: 50%;
  border: 4px solid #4c6faf;
  color: #4c6faf;
  background-color: transparent;
  border-left-color: transparent;
  animation: rotate 1.4s ease 0.5s infinite;
  margin-left: 200px;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
}
